.itemList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

@media only screen and (max-width: 688px) {
	.itemList {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0px;
	}
}
